body {
  margin:0%;
  background-color: red ;
  background: no-repeat;
}

section {
  width:100%;
  margin:auto;
  padding: 300px; 
background-image: linear-gradient(pink,white,pink) 


}



#headerimage {
  background-image: url(../images/pinkimage2.jpg); 
  background-size:100%;
  max-width:100%;
  height:600px;
  background-attachment: fixed;
  padding-bottom: 150px; 
 background-repeat: no-repeat;
}


#section1image  {
  background-image: url(../images/swordblade.png); 
  background-size:100%;
  max-width:100%;
  height:300px;
  background-attachment: fixed;
  padding-bottom: 500px;
}


#section2image
   {
  background-image: url(../images/pose1.jpg); 
  background-size:100%;
  max-width:100%;
  height:250%;
  background-attachment: fixed;
  padding-bottom: 500px;
  
}

.Banner {
display:block;
display:center;
margin:auto;
max-width:100%;
padding-top:250px;

}


@media only screen and (max-width: 1200px) {

#headerimage {
  display:none;
}
#section1image{
  display: none;
}
#section2image{
  display: none;
}


}


  

